body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 213, 214) 0%,
    rgb(243, 242, 229) 90%
  );
  font-family: "Comfortaa", cursive;
  /* position: relative; */
  /* min-height: 100%; */
  /* background-color: white; */
  /* background-color: #f5e6df; */

  /* background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
  /* background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  ); */
}

.middle-container {
  border-radius: 10px;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.549);
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.back-img {
  position: fixed;
  background-position-x: center;
  background-position-y: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/709/original/mundi.jpg?1695200246");
  background-size: cover;
  opacity: 10%;
  z-index: -1;
}

.icons {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: rgba(58, 58, 58, 0.898);
  font-size: 15px;

  /* font-family: sans-serif;
  color: rgba(58, 58, 58, 0.898);
  font-size: 15px;
  margin: 15px 0;
  text-align: center;
  padding: 15px; */
}
.icons a {
  font-family: sans-serif;
  color: #c3749a;
  font-size: 15px;
}

h1 {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  font-family: sans-serif;
  display: block;
  font-size: 18px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

.city {
  border-bottom: 1px dashed rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

.home-button {
  font-family: sans-serif;
  background-color: #e5acac;
  border: none;
  color: #ffffff;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: white;
  color: #8d8a8a;
}
